main {
    transform: rotate(-0.04turn);
    zoom: 150%;
}
.info h3 {
    transform: translate(-3px);
}
.info h4 {
    transform: translate(-6px);
}
.info h5 {
    transform: translate(-9px);
}
.info address {
    transform: translate(-12px);
}
